.react-rater {
  display: inline-block;
  line-height: normal; }
  .react-rater > * {
    display: inline-block; }

.react-rater-star {
  cursor: pointer;
  color: #ccc;
  position: relative; }
  .react-rater-star.will-be-active {
    color: #666; }
  .react-rater-star.is-active {
    color: rgb(193, 235, 44); }
  .react-rater-star.is-active-half:before {
    color: rgb(240, 196, 53);
    content: '\2605';
    position: absolute;
    left: 0;
    width: 80%;
    overflow: hidden; }
  .react-rater-star.is-disabled {
    cursor: default; }

.react-rater-reco {
  cursor: pointer;
  color: #ccc;
  position: relative; }
  .react-rater-reco.will-be-active {
    color: #666; }
  .react-rater-reco.is-active {
    color: rgb(66, 230, 216); }
  .react-rater-reco.is-active-half:before {
    color: rgb(250, 43, 16);
    content: '\2605';
    position: absolute;
    left: 0;
    width: 80%;
    overflow: hidden; }
  .react-rater-reco.is-disabled {
    cursor: default; }